{% extends 'admin/login.html' %}

{% block content %}
{% if request.user.is_authenticated %}
<p>You are logged in with <b>{{request.user.email}}</b>, but you are not admin. One of the current admins should give
    you privileges.</p>
{% else %}
<p>Please login by clicking on the button.</p>
{% endif %}
<a href="{% url 'oidc_authentication_init' %}" class="button">Login</a>
{% endblock %}